body {
    font-size: 15px;
    font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman";
    color: #222;
}

hr {
    height: 1px;
    border: 0;
    border-bottom: 1px #aaa solid;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px 0;
}

a {
    color: #08f;
}

h2 small {
    font-size: 15px;
    font-weight: normal;
}

fieldset {
    border: 1px #aaa solid;
    border-radius: 8px;
}

a.active-nav-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.link-button {
    color: #08f;
    text-decoration: underline;
    cursor: pointer;
}

.link-button-disabled {
    color: #8cf;
    text-decoration: underline;
    cursor: not-allowed;
}

.clickable {
    cursor: pointer;
}

.about-page {
    background: url('/PenroseTriangle512.png') no-repeat center;
    min-height: 512px;
    min-width: 512px;
}

.about-page div {
    border: 1px #888 solid;
    background: rgba(255, 255, 255, 0.75);
    width: 512px;
    margin: 0 auto;
    padding: 8px;
}

.disabled {
    color: #bbb;
}

.highlight {
    background-color: #ff8;
}

header.tabs {
    padding: 8px 0 7px 16px;
    border-bottom: 1px #aaa solid;
}

header.tabs h3 {
    display: inline;
    padding: 8px 16px 8px 16px;
    margin: 0 2px 0;
    cursor: pointer;
    font-weight: normal;
    border: 1px #aaa solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #eee;
}

header.tabs h3.active {
    border-bottom: 1px #fff solid;
    background-color: #fff;
}

table.attributes {
    width: 100%;
    border-spacing: 0;
}

table.attributes td {
    padding: 4px 8px;
}

table.attributes td:nth-child(1) {
    border-left: 1px #aaa solid;
}

table.attributes td:nth-child(2) {
    width: 80px;
}

table.attributes td:nth-child(3) {
    width: 80px;
    text-align: center;
}

table.attributes td:nth-child(4) {
    width: 80px;
    text-align: center;
}

table.attributes td:nth-child(5) {
    width: 30px;
    text-align: center;
    border-right: 1px #aaa solid;
}

table.attributes thead td {
    background: linear-gradient(#666 , #999 50%, #aaa 55%, #ddd);
    color: #fff;
    border-top: 1px #555 solid;
    border-bottom: 1px #aaa solid;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

table.attributes thead td:nth-child(1) {
    border-left: 1px #888 solid;
    border-radius: 8px 0 0 0;
}

table.attributes thead td:nth-child(5) {
    border-right: 1px #888 solid;
    border-radius: 0 8px 0 0;
}

table.attributes tbody tr:nth-child(even) td {
    background: #eee;
}

table.attributes tbody tr:last-child td {
    border-bottom: 1px #aaa solid;
}